.tabs-list {
  list-style: none;
  display: flex;
  justify-content: left;

  margin: 0;
  padding: 0;

  border-bottom: 2px solid black;
}

.tabs-wrapper {
  width: 70vw;
  margin: 0 auto;
}

.info-wrapper {
  width: 70vw;
  margin: 0 auto;
}
